# Ignorer tous les fichiers .log
*.log
# Ignorer tous les fichiers .vsidx
*.vsidx
# Ignorer tous les fichiers .v5.2
*.v5.2
# Ignorer tous les fichiers .v2
*.v2
# Ignorer tous les fichiers .suo
*.suo
# Ignorer tous les fichiers .dll
*.dll
# Ignorer tous les fichiers .pdb
*.pdb
# Ignorer tous les fichiers .json
*.json
# Ignorer tous le dossier bin
bin/
# Ignorer tous le dossier .vs
.vs/
# Ignorer tous le dossier obj
obj/
