# Ignorer tous les fichiers .log
*.log
# Ignorer tous les fichiers .vsidx
*.vsidx
# Ignorer tous les fichiers .v5.2
*.v5.2
# Ignorer tous les fichiers .v2
*.v2
# Ignorer tous les fichiers .suo
*.suo
# Ignorer tous les fichiers .json
*.json
# Ignorer tout le dossier bin
bin/
# Ignorer tout le dossier .vs
.vs/
# Ignorer tout le dossier obj
[Oo]bj/
# Ignore tout le dossier bin 
[Bb]in/
